@{
    ViewData["Title"] = "Privacidade";
}

<div class="container" style="margin-top: 80px">
    <h1>Política de Privacidade</h1>

    <h5>Última atualização: 30/08/2024</h5>

    <br />

    <h2>1. Introdução</h2>
    <span>
        Bem-vindo ao site Exercicio 3. Página criada com o propósito exclusivo de ter uma tela de navegação. Abaixo deixei algumas informações de política de empresa somente para preencher a página.
    </span>
    <br />
    <br />

    <h2>2. Informações que Coletamos</h2>

    <span>
        Podemos coletar e processar os seguintes dados sobre você:

        Informações Pessoais: Nome, endereço de e-mail, número de telefone, endereço postal.
        Dados de Uso: Informações sobre como você usa nosso site e serviços.
        Dados Técnicos: Endereço IP, tipo de navegador, sistema operacional, e outras informações técnicas.
    </span>
    <br />
    <br />
    <h2>3. Como Usamos Suas Informações</h2>

    <span>
        Usamos as informações que coletamos para:
        Fornecer, operar e manter nosso site e serviços.
        Melhorar, personalizar e expandir nosso site e serviços.
        Entender e analisar como você usa nosso site e serviços.
        Desenvolver novos produtos, serviços, recursos e funcionalidades.
        Comunicar com você, diretamente ou através de um de nossos parceiros, incluindo para atendimento ao cliente, para fornecer atualizações e outras informações relacionadas ao site, e para fins de marketing e promocionais.
        Processar suas transações e gerenciar seus pedidos.
        Enviar e-mails periódicos.
    </span>

    <br />
    <br />
    <h2>4. Compartilhamento de Informações</h2>
    <span>
        Não vendemos, trocamos ou transferimos suas informações pessoais para terceiros, exceto para:

        Prestadores de serviços que nos ajudam a operar nosso site, conduzir nossos negócios ou atender você, desde que esses terceiros concordem em manter essas informações confidenciais.
        Quando acreditarmos que a divulgação é apropriada para cumprir a lei, fazer cumprir as políticas do nosso site ou proteger nossos direitos, propriedade ou segurança.
    </span>

    <br />
    <br />

    <h2>5. Segurança das Informações</h2>
    <span>
        Implementamos uma variedade de medidas de segurança para manter a segurança de suas informações pessoais. No entanto, nenhuma transmissão de dados pela Internet ou sistema de armazenamento eletrônico é 100% segura, portanto, não podemos garantir segurança absoluta.
    </span>
</div>